table.layer-table,
.layer-table td,
.layer-table th {
    border: 1px solid var(--color, white);
    border-collapse: collapse;
    padding: 5px;
}

.warning {
    color: #CC5555;
}

#saveImport {
    background-color: var(--background, black);
    color: var(--color, white);
}

#saveImport form {
    line-height: 2;
}

::backdrop {
    background-color: var(--background, black);
    opacity: 0.75;
}
